:root{
    --person-dimension: 3rem
}

.movie{
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    position: relative;
    height: min-content;
    gap: 0.5rem;
    padding: 0.5rem;
    background-size: cover !important;
    background-position: center !important;
    overflow: hidden;
}

.movie::before {
    content: '';
    position: absolute;
    inset: -2rem; 
    background: inherit; 
    filter: blur(10px) brightness(0.4);
    z-index: 0;
}

.person{
    height: var(--person-dimension);
    width: var(--person-dimension);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.moviePoster,
.reviewsContainer,
.movieInformationContainer {
  position: relative;
  z-index: 1;
}

.moviePoster{
    aspect-ratio: 16/9;
    width: 100%;
    background-position: center;
    border-radius: var(--border-radius);
}

.movieInformationContainer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.movieInformation{
    flex-grow: 1;
    max-width: calc( 100% - var(--person-dimension) - 0.75rem);
}

.movieTitle, .movieInformationText{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movieTitle{
    margin: 0.25rem 0;
    font-size: 1.25rem;
}

.genre, .streamingService{
    margin: 0;
    font-size: 0.75rem;
    font-weight: 300;
}

@media(max-width: 1000px){
    :root{
        --person-dimension: 2.5rem;
    }

    .movieTitle{
        font-size: 1rem;
    }

    .movieInformationText{
        font-size: 0.75rem;
    }
}

.reviewsContainer{
    aspect-ratio: 16 / 9;
    padding: calc(var(--padding) / 2) var(--padding);
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.reviewsContainerTitle{
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}

.review{
    font-weight: 800;
    font-size: 1.25rem;
    margin: 0;
    white-space: nowrap;
    width: 4rem;
    text-align: right;
}