.movie{
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: var(--half-padding);
    background: var(--card-bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--half-padding);
}

.person{
    height: var(--person-dimension);
    width: var(--person-dimension);
    border-radius: 50%;
}

.moviePoster{
    aspect-ratio: 16/9;
    height: auto;
    width: 100%;
    background-position: center;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}

.moviePosterImage{
    max-width: 100%;
}

.movieInformationContainer{
    display: flex;
    justify-content: space-between;
    gap: var(--half-padding);
}

.movieInformation, .movieTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleService{
    display: flex;
    align-items: center;
    gap: var(--half-padding);
    margin-bottom: var(--quarter-padding);
}

.movieTitle{
    margin: 0;
    font-size: 1.25rem;
}

.streamingService{
    padding: var(--eigth-padding) var(--half-padding);
    background: var(--hover-bg);
    border-radius: var(--border-radius);
    white-space: nowrap;
}

.genre, .streamingService{
    margin: 0;
    font-size: 0.75rem;
    font-weight: 300;
}

@media(max-width: 1000px){
    :root{
        --person-dimension: 2.5rem;
    }

    .movieTitle{
        font-size: 1rem;
    }

    .movieInformationText{
        font-size: 0.75rem;
    }
}

.reviewsContainer{
    aspect-ratio: 16 / 9;
    padding: var(--half-padding) var(--padding);
    display: flex;
    flex-direction: column;
    object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.23);
    gap: var(--quarter-padding);
}

.reviewsContainerTitle{
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-main);
}

.review{
    font-weight: 800;
    font-size: 1.25rem;
    margin: 0;
    white-space: nowrap;
    width: 4rem;
    text-align: right;
}